<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>Mızrak Sok No:24, Istanbul/Arnavutköy</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "5555555555" %></p>
    <h3>Email</h3>
    <p><a href="mailto:yesilyurthabip25@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3014.622093199196!2d29.14961501576995!3d40.924031232552885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac51f0979f0a1%3A0xeb84b99ef39a2b4b!2sBulut%20Plaza!5e0!3m2!1sen!2str!4v1579670540270!5m2!1sen!2str" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>